<div class="ticket">
  <h1 data-slot="event.title"></h1>
  <div data-slot="event.date"></div>
  <div data-slot="event.location"></div>
  <div data-slot="company.name"></div>
  <div>
    <span>SECTION</span>
    <span data-slot="seat.section"></span>
  </div>
  <div>
    <span>ROW</span>
    <span data-slot="seat.row_number"></span>
  </div>
  <div>
    <span>SEAT</span>
    <span data-slot="seat.seat_number"></span>
  </div>
  <div>
    <span>PRICE</span>
    <span data-slot="seat.price"></span>
  </div>
</div>
